/* customPlayer.css */
.rhap_container {
    background: rgba(255, 255, 255, 0.03) !important;
    border-radius: 1rem !important;
    backdrop-filter: blur(12px);
    height: 60px !important;
    font-size: 0.85rem !important;
    padding: 0.4rem 1rem !important;
    box-shadow: 0 0 8px rgba(165, 110, 255, 0.08);
    color: white;
}

.rhap_time {
    color: #ccc !important;
}

.rhap_progress-indicator {
    background: #a56eff !important;
}

.rhap_progress-filled {
    background: linear-gradient(to right, #a56eff, #7ee8fa) !important;
}
