/* app/asr/features/components/DownloadPanel.module.css */
.scrollContainer {
    max-height: 50vh;
    overflow-y: auto;
    background-color: #f8fafd;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: #52525b transparent;
    scrollbar-gutter: stable;
}

.scrollContainer::-webkit-scrollbar {
    width: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
}