/* app/asr/features/components/LogSearchBar.module.css */

.suggestionWrapper {
  position: fixed;
  top: 52px;
  right: 52px;
}

.scrollContainer {
    position: absolute;
    top: 102px;
    right: 52px;
    width: 300px;
    max-height: 160px;
    overflow-y: auto;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
  }

  .scrollContainer::-webkit-scrollbar {
    width: 6px;
  }
  .scrollContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
  }
  